/*Input AlvoPesquisado*/
.inputBox.alvopesquisado {
  position: relative;
  width: 28%;
  height: 20px;
  margin-top: 0px;
  margin-left: -2.8%;
}

.inputBox.alvopesquisado input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.alvopesquisado span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.alvopesquisado input:valid~span,
.inputBox.alvopesquisado input:focus~span {
  transform: translateX(280px) translateY(-60px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.alvopesquisado input:valid,
.inputBox.alvopesquisado input:focus {
  border: 2px solid #000;
  border-radius: 3px;
}

/*ParteAlvo*/
.inputBox.partealvo {
  position: relative;
  width: 18%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.partealvo select {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.partealvo span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.partealvo select:valid~span,
.inputBox.partealvo select:focus~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.partealvo select:valid,
.inputBox.partealvo select:focus {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select SelEstrategia*/
.inputBox.selestrategia {
  position: relative;
  width: 18%;
  height: 20px;
  margin-top: 0px;
  margin-left: -1.7%;
}

.inputBox.selestrategia select:optional {
  width: 80%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.selestrategia span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.selestrategia select:optional
.inputBox.selestrategia select:valid~span,
.inputBox.selestrategia select:focus~span,
.inputBox.selestrategia select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.selestrategia select:optional
.inputBox.selestrategia select:valid,
.inputBox.selestrategia select:focus,
.inputBox.selestrategia select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input ProprietarioImóvel*/
.inputBox.proprietarioimovel {
  position: relative;
  width: 28%;
  height: 20px;
  margin-top: 0px;
  margin-left: -5%;
}

.inputBox.proprietarioimovel input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.proprietarioimovel span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.proprietarioimovel input:optional
.inputBox.proprietarioimovel input:valid~span,
.inputBox.proprietarioimovel input:focus~span,
.inputBox.proprietarioimovel input.has-value~span {
  transform: translateX(220px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.proprietarioimovel input:optional
.inputBox.proprietarioimovel input:valid,
.inputBox.proprietarioimovel input:focus,
.inputBox.proprietarioimovel input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input DocProprietario*/
.inputBox.docproprietario {
  position: relative;
  width: 19.5%;
  height: 20px;
  margin-top: 0px;
  margin-left: 0%;
}

.inputBox.docproprietario input:optional {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.docproprietario span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.docproprietario input:optional
.inputBox.docproprietario input:valid~span,
.inputBox.docproprietario input:focus~span,
.inputBox.docproprietario input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.docproprietario input:optional
.inputBox.docproprietario input:valid,
.inputBox.docproprietario input:focus,
.inputBox.docproprietario input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input PorcPropriedade*/
.inputBox.porcpropriedade {
  position: relative;
  width: 10%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.porcpropriedade input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.porcpropriedade span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-40px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.porcpropriedade input:valid~span,
.inputBox.porcpropriedade input:focus~span {
  transform: translateX(35px) translateY(-60px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.porcpropriedade input:valid,
.inputBox.porcpropriedade input:focus {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select TipoAtivo*/
.inputBox.tipoativo {
  position: relative;
  width: 12%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.tipoativo select:optional {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.tipoativo span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.tipoativo select:optional
.inputBox.tipoativo select:valid~span,
.inputBox.tipoativo select:focus~span,
.inputBox.tipoativo select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.tipoativo select:optional
.inputBox.tipoativo select:valid,
.inputBox.tipoativo select:focus,
.inputBox.tipoativo select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select SubtipoAtivo*/
.inputBox.subtipoativo {
  position: relative;
  width: 17%;
  height: 20px;
  margin-top: 0px;
  margin-left: -1.6%;
}

.inputBox.subtipoativo select:optional {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.subtipoativo span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.subtipoativo select:optional
.inputBox.subtipoativo select:valid~span,
.inputBox.subtipoativo select:focus~span,
.inputBox.subtipoativo select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.subtipoativo select:optional
.inputBox.subtipoativo select:valid,
.inputBox.subtipoativo select:focus,
.inputBox.subtipoativo select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select Tipologia*/
.inputBox.tipologia {
  position: relative;
  width: 12%;
  height: 20px;
  margin-top: 0px;
  margin-left: -1.6%;
}

.inputBox.tipologia select:optional {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.tipologia span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.tipologia select:optional
.inputBox.tipologia select:valid~span,
.inputBox.tipologia select:focus~span,
.inputBox.tipologia select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.tipologia select:optional
.inputBox.tipologia select:valid,
.inputBox.tipologia select:focus,
.inputBox.tipologia select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input Matricula*/
.inputBox.matricula {
  position: relative;
  width: 15%;
  height: 20px;
  margin-top: 0px;
  margin-left: -1.6%;
}

.inputBox.matricula input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.matricula span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.matricula input:optional
.inputBox.matricula input:valid~span,
.inputBox.matricula input:focus~span,
.inputBox.matricula input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.matricula input:optional
.inputBox.matricula input:valid,
.inputBox.matricula input:focus,
.inputBox.matricula input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select NumCartorio*/
.inputBox.numcartorio {
  position: relative;
  width: 12%;
  height: 20px;
  margin-top: 0px;
  margin-left: 1.4%;
}

.inputBox.numcartorio select {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.numcartorio span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.numcartorio select:optional
.inputBox.numcartorio select:valid~span,
.inputBox.numcartorio select:focus~span,
.inputBox.numcartorio select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.numcartorio select:optional
.inputBox.numcartorio select:valid,
.inputBox.numcartorio select:focus,
.inputBox.numcartorio select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input CidCartorio*/
.inputBox.cidcartorio {
  position: relative;
  width: 14.6%;
  height: 20px;
  margin-top: 0px;
  margin-left: -1.6%;
}

.inputBox.cidcartorio input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.cidcartorio span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.cidcartorio input:optional
.inputBox.cidcartorio input:valid~span,
.inputBox.cidcartorio input:focus~span,
.inputBox.cidcartorio input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.cidcartorio input:optional
.inputBox.cidcartorio input:valid,
.inputBox.cidcartorio input:focus,
.inputBox.cidcartorio input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input Endereco*/
.inputBox.endereco {
  position: relative;
  width: 25%;
  height: 20px;
  margin-top: 0px;

}

.inputBox.endereco input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.endereco span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.endereco input:optional
.inputBox.endereco input:valid~span,
.inputBox.endereco input:focus~span,
.inputBox.endereco input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.endereco input:optional
.inputBox.endereco input:valid,
.inputBox.endereco input:focus,
.inputBox.endereco input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input Cidade*/
.inputBox.cidade {
  position: relative;
  width: 14.6%;
  height: 20px;
  margin-top: 0px;

}

.inputBox.cidade input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.cidade span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.cidade input:optional
.inputBox.cidade input:valid~span,
.inputBox.cidade input:focus~span,
.inputBox.cidade input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.cidade input:optional
.inputBox.cidade input:valid,
.inputBox.cidade input:focus,
.inputBox.cidade input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select UF*/
.inputBox.uf {
  position: relative;
  width: 8%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.uf select {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.uf span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.uf select:optional
.inputBox.uf select:valid~span,
.inputBox.uf select:focus~span,
.inputBox.uf select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.uf select:optional
.inputBox.uf select:valid,
.inputBox.uf select:focus,
.inputBox.uf select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select Região*/
.inputBox.regiao {
  position: relative;
  width: 11%;
  height: 20px;
  margin-top: 0px;
  margin-left: -1.4%;
}

.inputBox.regiao select {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.regiao span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.regiao select:optional
.inputBox.regiao select:valid~span,
.inputBox.regiao select:focus~span,
.inputBox.regiao select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.regiao select:optional
.inputBox.regiao select:valid,
.inputBox.regiao select:focus,
.inputBox.regiao select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Select ham2*/
.inputBox.ham2 {
  position: relative;
  width: 10%;
  height: 20px;
  margin-top: 0px;
  margin-left: -1.3%;
}

.inputBox.ham2 select {
  width: 100%;
  padding: 9.5px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.ham2 span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY( -3px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.ham2 select:optional
.inputBox.ham2 select:valid~span,
.inputBox.ham2 select:focus~span,
.inputBox.ham2 select.has-value~span {
  transform: translateX(120px) translateY(-18px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.ham2 select:optional
.inputBox.ham2 select:valid,
.inputBox.ham2 select:focus,
.inputBox.ham2 select.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input AreaTerreno*/
.inputBox.areaterren {
  position: relative;
  width: 14.6%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.areaterren input:optional {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.areaterren span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.areaterren input:optional
.inputBox.areaterren input:valid~span,
.inputBox.areaterren input:focus~span,
.inputBox.areaterren input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.areaterren input:optional
.inputBox.areaterren input:valid,
.inputBox.areaterren input:focus,
.inputBox.areaterren input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input AreaConstruida*/
.inputBox.areaconstruid {
  position: relative;
  width: 14.6%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.areaconstruid input:optional {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.areaconstruid span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.areaconstruid input:optional
.inputBox.areaconstruid input:valid~span,
.inputBox.areaconstruid input:focus~span,
.inputBox.areaconstruid input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.areaconstruid input:optional
.inputBox.areaconstruid input:valid,
.inputBox.areaconstruid input:focus,
.inputBox.areaconstruid input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input ValorMercado*/
.inputBox.valormercad {
  position: relative;
  width: 14.6%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.valormercad input:optional {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.valormercad span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.valormercad input:optional
.inputBox.valormercad input:valid~span,
.inputBox.valormercad input:focus~span,
.inputBox.valormercad input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.valormercad input:optional
.inputBox.valormercad input:valid,
.inputBox.valormercad input:focus,
.inputBox.valormercad input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}

/*Input ValorMercadoFracao*/
.inputBox.valormercadf {
  position: relative;
  width: 14.6%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.valormercadf input:optional {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.valormercadf span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.valormercadf input:optional
.inputBox.valormercadf input:valid~span,
.inputBox.valormercadf input:focus~span,
.inputBox.valormercadf input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.valormercadf input:optional
.inputBox.valormercadf input:valid,
.inputBox.valormercadf input:focus,
.inputBox.valormercadf input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}


/*Input OrigemValor*/
.inputBox.origemvalor {
  position: relative;
  width: 14.6%;
  height: 20px;
  margin-top: 0px;
}

.inputBox.origemvalor input:optional {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  color: #000;
  font-size: 1em;
  background: transparent;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: 0.1s;
  border-bottom-left-radius: 3px;
}

.inputBox.origemvalor span {
  margin-top: 5px;
  position: absolute;
  left: 0;
  transform: translateY(-43px);
  margin-left: 5px;
  padding: 10px;
  pointer-events: none;
  font-size: 12px;
  color: #000;
  font-weight:600;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

.inputBox.origemvalor input:optional
.inputBox.origemvalor input:valid~span,
.inputBox.origemvalor input:focus~span,
.inputBox.origemvalor input.has-value~span {
  transform: translateX(52px) translateY(-59px);
  font-size: 0.8em;
  padding: 5px 10px;
  background: #ffc800;
  letter-spacing: 0.2em;
  color: #000;
  border: 2px;
}

.inputBox.origemvalor input:optional
.inputBox.origemvalor input:valid,
.inputBox.origemvalor input:focus,
.inputBox.origemvalor input.has-value {
  border: 2px solid #000;
  border-radius: 3px;
}